*{
    margin: 0px;
    padding: 0px;
    
}
/* barra de navegacion */
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgb(65, 42, 7);
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}
.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.card{
    box-shadow: 0 4px 8px 0 rgb(226, 78, 19);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
}
.nombre-producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
}
.price{
    color: rgb(129, 89, 89);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card button{
    border:none;
    outline: 0;
    padding: 12px;
    color:rgb(241, 233, 230);
    background-color: rgb(196, 111, 26);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card button:hover{
    opacity: 0.7;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #44411a;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #1e200c;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  
  .modal-header-button {
    cursor: pointer;

  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-container > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  }
  

  
  @media only screen and (max-width: 750px) {
    .modal-container {
      width: 100%;
      margin: 0;
      min-height: 88vh;
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }
  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
      
    }
  }

.delete-product{
  cursor: pointer;
}

